li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 29px;
}

.section1 {
    background-color: lightgreen;
}

.section1 .header {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.section1 .content {
    display: flex;
    padding: 50px;
    
}

.section1 .content .left {
    flex: 1;
    padding-left: 100px;
}

.section1 .content .right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.headerimg {
    height: 30px;
    width: auto;
    padding: 20px;
}

ul {
    padding: 20px;
    margin: 0px;
    display: flex;
    gap: 15px;
}

h1 {
    font-weight: 800;
    font-size: 48px;
}

p {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid #3882F6;
}

button:hover {
    background-color: #0a62f0;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

.section2 .content {
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-evenly;
}

.section2 img {
    width: auto;
    height: 100px;
}

.info1, .info2, .info3, .info4 {
    margin: 10px;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
}

.footer p {
    padding: 10px;
}

.section3 {
    background-color: #e5e7eb;
}

.section3 p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.section3 .content {
    padding: 50px 100px;
}

.section3 h6 {
    font-size: 30px;
    text-align: end;
}

.section4 {
    height: 20rem;
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.section4 .content {
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    width: 40%;
    border-radius: 10px;
}

.section4 .content h6 {
    font-size: 18px;
    margin: 0;
}

.section4 .content p {
    font-size: 12px;
    margin: 0;
}

.section4 .left {
    display: flex;
    flex-direction: column;
}

.section4 button {
    border-color: white;
}